@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.link {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 32px 0;
  margin-left: 3px;
  gap: 8px;
  @include link;
  @extend %transition-all;

  &.all {
    margin: 0;
    padding: 0;
  }

  div {
    width: 24px;
    height: 24px;
    background-image: url('../../assets/img/icon_arrow_left_hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @extend %transition-all;
  }

  span {
    @include text1;
    @extend %transition-all;
  }

  &:hover {
    span {
      opacity: 0.9;
    }

    div {
      background-image: url('../../assets/img/icon_arrow_left.svg');
      transform: translateX(-3px);
    }
  }
}
