$main-white-1: #fff;
$main-white-2: #f2f3f5;
$main-white-3: #edeef0;

$main-white-secondary-1: #e7e8eb;
$main-white-secondary-2: #dcdde1;
$main-white-secondary-3: #d2d3d9;

$main-black-1: #0e0e0e;
$main-black-2: #29292c;
$main-black-3: #2f2f32;
$main-black-secondary-1: #6c6c72;
$main-black-secondary-2: #7d7d85;

$main-red-1: #ef3124;
$main-red-2: #e62c1a;
$main-red-3: #d72505;

$system-yellow: #fa9313;
$system-green: #0cc44d;
$system-red: #ff5431;
$system-light-green: #dff8e5;
$system-light-red: #ffebeb;

$accent-blue: #2288fa;
$accent-light-blue: #d8eaff;

$bg-overlay: rgba(14, 14, 14, 0.5);

$root-width: 1440px;
$content-width: 1200px;

/* font */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
