%transition-opacity {
  transition: opacity 0.4s linear;
}

%transition-all {
  transition: all 0.3s ease-in;
}

%font-prim {
  font-family: 'Roboto', 'Arial', sans-serif;
}

%gradient {
  background: linear-gradient(90deg, #fa9313 0.05%, #ec64c4 99.96%);
}
