@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.profile {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;

  /* img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    gap: 12px;

    h1 {
      @include section-title;
    }

    p {
      @include text1($color: $main-black-secondary-2);
    }
  } */

  .buttonField {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    gap: 16px;
  }

  .button {
    font-family: 'Roboto';
    line-height: 20px;
  }
}