.dropmenu {
  width: 40px;
  aspect-ratio: 1 / 1;
  justify-self: end;
  background-image: url(../../assets/img/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
