@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/constants.scss";

.card__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    @include text1-date;
    align-self: flex-end;
  }
}

.dropdown__button {
  @include button;
  @include text1($color: $main-red-1);
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid $main-red-1;
  border-radius: 32px;
  padding: 4px 32px 4px 8px;
  appearance: none;
  outline: none;
  text-align: left;

  background-image: url(../../assets/img/select-arrow-red.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}
.dropdown {
  position: relative;
  align-self: self-end;
}

.dropdown__list {
  position: absolute;
  display: none;
  top: 30px;
  right: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $main-white-secondary-2;
  width: 150px;
  border-radius: 8px;
  z-index: 1;

  li {
    @include text1-date;
    height: 48px;
    margin: 0;
    padding: 16px;
    z-index: 1;

    cursor: pointer;
    &:first-of-type {
      color: $main-red-1;
    }

    &:nth-of-type(2) {
      color: $system-yellow;
    }

    &:nth-of-type(3) {
      color: $system-green;
    }
  }
}

.dropdown__list_visible {
  display: block;
}

.dropdown__input {
  display: none;
}
