* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.page {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;

  &_lock {
    overflow: hidden;
    padding-right: 17px;
  }
}

#root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: $root-width;
  width: 100%;
  margin: 0;
  padding-top: 33px;
  @extend %font-prim;
  font-style: normal;
  color: $main-black-1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: $main-white-1;
}

.wrapper {
  width: 100%;
  max-width: $content-width;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.background {
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: $bg-overlay;
  @extend %transition-all;
  z-index: 9;

  &_active {
    visibility: visible;
  }
}