@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;

  .logoLink {
    display: flex;
    align-items: center;
    gap: 8px;
    @include link;

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      width: 43px;
      height: 43px;
    }

    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
  }

  button {
    @include button;

    img {
      border-radius: 50%;
      width: 44px;
      height: 44px;
    }
  }
}
