@import "../../styles/abstract/constants.scss";
@import "../../styles/abstract/mixins.scss";

.taskCard_list {
  display: flex;
  margin: 28px 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  h2 {
    @include section-title
  }

  button {
    @include button;
    border: 1px solid $main-black-1;
    border-radius: 12px;
    width: 80px;
    height: 56px;
    background-image: url(../../assets/img/icon_listcomments.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s linear;

    &:hover {
      background-color: $main-white-2;
    }

    &:active {
      background-color: $main-white-3;
    }
  }

}