@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.panel {
  padding-right: 80px;
  width: 632px !important;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.wrapper {
  max-width: 410px;
  display: flex;
  gap: 32px;
  align-self: flex-start;
  border-bottom: 1px solid $main-white-secondary-3;
}

.nav_button {
  @include button;
  @include text(
    $color: $main-black-secondary-2,
    $font-size: 20px,
    $font-weight: $fw-bold,
    $line-height: 1.2
  );
  padding-bottom: 18px;
  border-bottom: 3px solid $main-white-1;

  &.active {
    @include text($font-size: 20px, $font-weight: $fw-bold, $line-height: 1.2);
    padding-bottom: 18px;
    border-bottom: 3px solid $main-red-1;
  }
}
